.authContainer {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authBox {
    background-color: #171717;
    padding: 2.5rem;
    border-radius: 12px;
    width: 380px;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.authBox h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

/* 🔥 IMPORTANT: override global input */
.authBox input {
    width: 100%;
    border: none;
    background-color: #2a2a2a;
    padding: 14px;
    border-radius: 8px;
    color: #fff;
    font-size: 0.9rem;
}

.authBox input:focus {
    outline: none;
    background-color: #333;
}

.authBox button {
    background-color: #339cff;
    border: none;
    padding: 14px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.authBox button:hover {
    background-color: #1f8fff;
}

.toggleText {
    color: #b4b4b4;
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
}

.toggleText:hover {
    color: #fff;
}